<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="EntityFramework" version="5.0.0-rc" />
  <package id="JsonFx" version="2.0.1106.2610" />
  <package id="Microsoft.Data.Edm" version="5.0.1-rc" />
  <package id="Microsoft.Data.OData" version="5.0.1-rc" />
  <package id="Microsoft.Data.Services" version="5.0.1-rc" />
  <package id="Microsoft.Data.Services.Client" version="5.0.1-rc" />
  <package id="System.Spatial" version="5.0.1-rc" />
</packages>